<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/product/save}" method="post" novalidate="novalidate" th:object="${product}">
    <div>
        <label>Name: </label>
        <input type="text" th:field="*{name}"/>
    </div>
    <div>
        <label>Price: </label>
        <input type="text" th:field="*{price}"/>
    </div>
    <div>
        <label>Description</label>
        <input type="text" th:field="*{description}"/>
    </div>
    <div>
        <label>Producer</label>
        <input type="text" th:field="*{producer}"/>
    </div>
    <input type="submit"value="Save">
</form>
</body>
</html>