<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Delete</title>
</head>
<body>
<form action="#" th:action="@{/product/delete}" method="post" th:object="${product}"
    novalidate="novalidate">
    <input type="hidden" th:field="*{id}">
    <div>
        <label>Name</label>
        <input type="hidden" th:field="*{name}"/>
    </div>
    <div>
        <label>Price</label>
        <input type="hidden" th:field="*{price}"/>
    </div>
    <div>
        <label>Description</label>
        <input type="hidden" th:field="*{description}"/>
    </div>
    <div>
        <label>Producer</label>
        <input type="hidden" th:field="*{producer}"/>
    </div>
    <input type="submit" value="Delete"/>
</form>
</body>
</html>