body{
    font-family: sans-serif;
}
.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f54e2d);
    color: white;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.grid__row::after{
    content: "";
    clear: both;
    display: block;
}
.header__navbar--list{
    display: inline-block;
    justify-content: space-between;
    list-style: none;

}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.header__navbar--item--link{
    text-decoration: none;
    color: black;
}
.header__navbar--link{
    border: 1px solid;
    padding: 0px 200px;
    margin: 12px;

}
@media only screen and (min-width: 601px) {
    .grid__column-1{width: 8.33%}
    .grid__column-2{width: 16.66%}
    .grid__column-3{width: 25%}
    .grid__column-4{width: 33.33%}
    .grid__column-5{width: 41.66%}
    .grid__column-6{width: 50%}
    .grid__column-7{width: 58.33%}
    .grid__column-8{width: 66.66%}
    .grid__column-9{width: 75%}
    .grid__column-10{width: 83.33%}
    .grid__column-11{width: 91.66%}
    .grid__column-12{width: 100%}
}
.img{
    height: 50px;
    width: 50px;
}.footer{
    background-color: gray;
    height: 50px  ;
    color: white;
    padding:20px 400px;

 }
 .header__navbar--item--link:hover{
     background-color: black;
     color: white;
 }

